---
import Layout from "../layouts/Layout.astro";
import { supabase } from "../db/supabase";

const { cookies, redirect } = Astro;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

if (!accessToken || !refreshToken) {
    return redirect("/login");
}

const { data, error } = await supabase.auth.setSession({
    refresh_token: refreshToken.value,
    access_token: accessToken.value,
});

if (error) {
    cookies.delete("sb-access-token", {
        path: "/",
    });
    cookies.delete("sb-refresh-token", {
        path: "/",
    });

    return redirect("/login");
}

const email = data.user?.email;
if (email !== "admin@coffee.place") {
    return redirect("/");
}
---

<div class="center top-margin">Hi! {email}</div>

<!-- <script define:vars={{ data }}>
    console.log(data);
</script> -->
