---
import Layout from "@layouts/Layout.astro";
import { supabase } from "@databases/supabase.js";

const { cookies, redirect } = Astro;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

if (!accessToken || !refreshToken) {
    cookies.set("referrer-url", Astro.url.pathname, {
        path: "/",
    });
    return redirect("/login");
}

const { data, error } = await supabase.auth.setSession({
    refresh_token: refreshToken.value,
    access_token: accessToken.value,
});

if (error) {
    cookies.delete("sb-access-token", {
        path: "/",
    });
    cookies.delete("sb-refresh-token", {
        path: "/",
    });

    return redirect("/login");
}

const email = data.user?.email;
if (email !== "admin@coffee.place") {
    return redirect("/");
}
---

<Layout>
    <main>
        <div class="center-align top-margin large-margin">
            <article
                class="top-margin medium-elevate medium-width center center-align middle-align surface"
            >
                <h2 class="freeman-regular">Dashboard ⚙️</h2>
            </article>
        </div>
        <article
            class="vertical-margin medium-elevate medium-width center surface"
        >
            <div class="">
                <a class="wave wrap" href="/management/locations">
                    <h6>Location management</h6>
                    <p>
                        Add new locations to the database or modify the existing
                        ones.
                    </p>
                </a>
            </div>
            <div class="vertical-margin">
                <a class="wave wrap" href="/management/reservations">
                    <h6>Reservation management</h6>
                    <p>Review and cancel reservations.</p>
                </a>
            </div>
        </article>
    </main>
</Layout>
