---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

const locations = [
    {
        uuid: "u3z",
        neighborhood: "Kozari bok",
        street_address: "Unska 3",
        city: "Zagreb",
    },
    {
        uuid: "upf42pv",
        neighborhood: "Pituraša",
        street_address: "Ulica Par Frulica 42",
        city: "Prduša Vela",
    },
    {
        uuid: "ugz9g",
        neighborhood: "Bronx",
        street_address: "Ulica grada Zagreba 9",
        city: "Varaždin",
    },
];
---

<Layout title="CoffeePlace">
    <main>
        <div class="center-align">
            <article
                class="top-margin medium-elevate medium-width center center-align middle-align surface"
            >
                <h2 class="freeman-regular">CoffeePlace ☕️</h2>
            </article>
        </div>

        <article class="top-margin medium-elevate medium-width center surface">
            <div
                class="field large prefix round fill small-elevate bottom-margin medium-margin"
            >
                <i class="front">search</i>
                <input
                    v-model="searchQuery"
                    class="primary-hover"
                    type="text"
                    placeholder="Pretražite lokacije..."
                />
            </div>
            <div class="small-divider"></div>
            <div>
                {
                    locations.map((location) => (
                        <div class="bottom-margin small-margin">
                            <a href={"/locations/" + location.uuid}>
                                <div>
                                    <h6>{location.neighborhood}</h6>
                                    <span>
                                        {location.street_address +
                                            ", " +
                                            location.city}
                                    </span>
                                </div>
                            </a>
                        </div>
                    ))
                }
            </div>
        </article>

        <div class="center top-margin">
            <a
                href="/dashboard"
                class="small-text primary-text primary-hover center"
                >Administrator log-in</a
            >
        </div>
    </main>
</Layout>
