---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

const favCities = [
    { country: "USA", cities: ["New York", "San Francisco"] },
    { country: "Spain", cities: ["Madrid", "Barcelona"] },
    { country: "Japan", cities: ["Tokyo"] },
    { country: "Germany", cities: ["Berlin"] },
];
---

<Layout title="CoffeePlace.">
    <main>
        <div class="center-align">
            <article
                class="top-margin medium-elevate medium-width center center-align middle-align surface"
            >
                <h1 class="freeman-regular">Dobrodošli u CoffeePlace</h1>
            </article>
        </div>

        <article class="top-margin medium-elevate medium-width center surface">
            <div
                class="field large prefix round fill small-elevate vertical-margin medium-margin"
            >
                <i class="front">search</i>
                <input
                    v-model="searchQuery"
                    class="primary-hover"
                    type="text"
                    placeholder="Pretražite lokacije..."
                />
            </div>
            <div class="small-divider"></div>
            <div>
                {
                    favCities.map((countryData) => (
                        <div>
                            <h6>{countryData.country}</h6>
                            <ul>
                                {countryData.cities.map((city) => (
                                    <li>{city}</li>
                                ))}
                            </ul>
                        </div>
                    ))
                }
            </div>
        </article>
    </main>
</Layout>
