---
import Layout from "@layouts/Layout.astro";
---

<Layout>
    <main>
        <div class="center-align top-margin large-margin">
            <article
                class="top-margin medium-elevate medium-width center center-align middle-align surface"
            >
                <h4 class="freeman-regular">Edit location</h4>
            </article>
        </div>

        <article
            class="vertical-margin medium-elevate medium-width center surface"
        >
            <form id="edit-location-form">
                <div class="field label border bottom-margin large-margin">
                    <input
                        id="street_address"
                        class="active"
                        name="street_address"
                        type="text"
                    />
                    <label for="street_address" class="active"
                        >Street address</label
                    >
                </div>
                <div class="field label border vertical-margin large-margin">
                    <input
                        id="neighborhood"
                        class="active"
                        name="neighborhood"
                        type="text"
                    />
                    <label for="neighborhood" class="active">Neighborhood</label
                    >
                </div>
                <div class="field label border vertical-margin large-margin">
                    <input id="city" class="active" name="city" type="text" />
                    <label for="city" class="active">City</label>
                </div>

                <div
                    id="grid"
                    class="medium-width border"
                    style="height: 300px;"
                >
                    <div
                        id="draggableCircle"
                        style="position: absolute; width: 50px; padding:2px; height: 50px;background-clip: content-box; background-color: yellow; border-radius: 50%;"
                    >
                    </div>
                </div>

                <button class="center" type="submit">Update</button>
            </form>
        </article>
    </main>
</Layout>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var draggable = document.getElementById("draggableCircle");
        var grid = document.getElementById("grid");

        interact(draggable)
            .draggable({
                // the top left corner of the element will be (0, 0)
                origin: "parent",
                snap: {
                    // snap targets pay attention to the action's origin option
                    targets: [
                        interact.createSnapGrid({
                            x: 50,
                            y: 50,
                        }),
                    ],
                    relativePoints: [{ x: 0, y: 0 }],
                },
                restrict: {
                    // restrictions *don't* pay attention to the action's origin option
                    // so using 'parent' for both origin and restrict.restriction works
                    restriction: "parent",
                    elementRect: { top: 0, left: 0, bottom: 1, right: 1 },
                },
            })
            .on("dragmove", function (event) {
                var target = event.target,
                    // keep the dragged position in the data-x/data-y attributes
                    x =
                        (parseFloat(target.getAttribute("data-x")) || 0) +
                        event.dx,
                    y =
                        (parseFloat(target.getAttribute("data-y")) || 0) +
                        event.dy;

                x = Math.max(0, Math.min(x, 300));
                y = Math.max(0, Math.min(y, 332));

                // translate the element
                target.style.webkitTransform = target.style.transform =
                    "translate(" + x + "px," + y + "px)";

                // update the posiion attributes
                target.setAttribute("data-x", x);
                target.setAttribute("data-y", y);

                console.log(x, y);
            });

        // draggable.style.transform = "translate(0px, 0px)";
        // draggable.setAttribute("data-x", "0");
        // draggable.setAttribute("data-y", "0");
    });
</script>
